<!-- <div class="banner">
  <h1>{{title}}</h1>
  <div class="">
      <button class="my-4" mat-raised-button color="warn" [routerLink]="link">{{btnTxt}}</button>
      <p class="mb-4">{{subTitle}}</p>
  </div>
</div> -->

<div class="banner">
    <h1>Welcome.</h1>
    <div class="">
        <button class="my-4" mat-raised-button color="warn" [routerLink]="['/customer/rooms']" routerLinkActive="router-link-active">VISIT OUR ROOM</button>
        <p class="mb-4">Make your dreams alive</p>
    </div>
</div>