.mainBox {
    .headImage {
        height: 400px;
        width: 85%;
        margin-left: 8%;
    }
    .textArea {
        width: 70%;
        margin-left: 8%;
    }
    .subImageList {
        margin-left: 20%;
        margin-top: 2%;
    }
}