<mat-toolbar class="headerPart" color="primary">
    <button mat-icon-button class="example-icon ml-3" aria-label="Example icon-button with menu icon" [routerLink]="['/']" routerLinkActive="router-link-active">
  <img class="mainImg" src="../../../assets/images/logo.svg" alt="">
</button>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <ul class="mt-3" fxLayout="row" fxLayoutGap="10px">
            <li>
                <button mat-icon-button>
            <mat-icon>search</mat-icon>
         </button>
            </li>
            <li [routerLink]="['/customer/rooms']" routerLinkActive="router-link-active">
                Rooms
            </li>
            <li *ngIf="showDashboard" [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active">
                Dashboard
            </li>
            <li>
                <button mat-icon-button>
            <mat-icon>apps
            </mat-icon>
         </button>
            </li>
            <li>
                <button mat-icon-button>
            <mat-icon>notifications
            </mat-icon>
         </button>
            </li>
            <li [routerLink]="['/admin/login']" routerLinkActive="router-link-active">
                <button mat-icon-button>
            <mat-icon>account_circle
            </mat-icon>
         </button>
            </li>
        </ul>
    </div>
</mat-toolbar>